.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.pagination{
  float: left;
}

.App-link {
  color: #61dafb;
}
.form-control{
  width: 150px;
}
th.sortable {
  text-transform: capitalize;
  text-align: center;
  position: relative;
  cursor: pointer;
}
th.sortable::after {
  content: "\2195";
  color: #999;
  margin-left: 5px;
}

th.sortable:hover::after {
  color: #333;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
